@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? family= Passion+One & family= Roboto+Mono:ital,wght@1,100;1,600 & display=swap');
@import url('https://fonts.googleapis.com/css2?family= Crimson +Text:ital@1 & display=swap');
*{
    margin: 0%;
    padding: 0%;
    font-size: 1em;
}
:root{
    --font1: verdana, geneva, tahoma, sans-serif;
    --font2: 'Crimson Text', serif;
    --font3: 'Passion One', cursive;
}
html, body{
    min-height: 100vh;
background-color: darkgray;
font-family: var(--font1);
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1 {
    padding-top: 50px;
    text-transform: uppercase;
    color: white;
    font-family: var(--font3);
    font-size: 2em;
}
header > p {
    padding-bottom: 50px;
}
a, footer{
    color: white;
    font: 1em sans-serif;
    text-decoration: none;
}
a:hover, footer a:hover{
    text-decoration: underline;
}
section{
   
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    font-size: 1.5em;
    padding-left: 20px;
    font-family: var(--font2);
   
}
section.imagem#imagem01{
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
}
section.imagem#imagem02{
    background-image: url(../imagens/background002.jpg);
}
    

section.normal{
    background-color: white;
    color: rgb(0, 0, 0);
}
section.imagem{
    color: white;
    background-color: rgba(0, 0, 0, 0.418); 
    
    
}
section.imagem > p {
    background-color: rgba(0, 0, 0, 0.5);
    width: 450px;
    text-shadow: 1px 1px 0px black;
    
}

footer{
    background-color: black;
    text-align: center;
    padding: 10px;
    color: white;
}